#menu a.md-button {
	display: block;
	text-align: left;
	border-radius: 0;
	padding: 10px;
}

#menu a.md-button.active {
	background-color: rgba(158,158,158,0.2);
}

md-icon.pinned {
	margin: 0 0 0 5px;
}

#tasks md-list md-item {
	display: block;
}

#autocomplete md-item {
	display: block;
	cursor: pointer;
}

#home-slider .flexslider {
	border: 0;
	border-radius: 0;
	box-shadow: 0;
}