#menu .md-button {
	display: block;
	text-align: left;
	border-radius: 0;
	padding: 10px;
	padding: 16px;
	color: rgba(0, 0, 0, 0.73)
}

#menu .md-button.active {
	background-color: rgba(158,158,158,0.2);
	color: #29b6f6;
}

md-icon.pinned {
	margin: 0 0 0 5px;
}

#autocomplete md-item {
	display: block;
	cursor: pointer;
}

#home-slider .flexslider {
	border: 0;
	border-radius: 0;
	box-shadow: 0;
}



.reveal-animation.ng-enter,
.reveal-animation.ng-leave {
 -webkit-transition: 1s linear max-height;
 transition: 1s linear max-height;

 /*opacity: 0;*/
 overflow: hidden;
 max-height: 0 !important;
}

.reveal-animation.ng-enter.ng-enter-active,
.reveal-animation.ng-leave.ng-leave-active {
 /*opacity: 1;*/
 max-height: 120px !important;
}