md-sidenav  #menu{
	padding: 0;
}

md-sidenav #menu .md-button {
	display: block;
	text-align: left;
	border-radius: 0;
	padding: 16px;
	margin: 0;
	color: rgba(0, 0, 0, 0.73)
}

#menu .md-button.active {
	background-color: rgba(158,158,158,0.2);
	color: #29b6f6;
}

md-icon.pinned {
	margin: 0 0 0 5px;
}

#home-slider .flexslider {
	border: 0;
	border-radius: 0;
	box-shadow: 0;
}

md-dialog.dialog-shoppinglist-add,
md-dialog.dialog-shoppinglist-add > md-content {
	overflow: visible;
}

span.highlight {
	color: red !important;
}



.reveal-animation {
	-webkit-transition: 1s linear all;
 	transition: 1s linear all;
}

.reveal-animation.ng-enter{
 	height: 0;
 	/*margin: 0 15px;*/
 	opacity: 0;
 	overflow: hidden;
}

.reveal-animation.ng-enter.ng-enter-active {
	/*max-height: 50px;*/
	/*margin: 15px;*/
	height: 27px;
	opacity: 1;
}

.reveal-animation.ng-leave {
 	/*max-height: 50px;*/
 	/*margin: 15px;*/
 	height: 27px;
 	opacity: 1;
 	overflow: hidden;
}

.reveal-animation.ng-leave.ng-leave-active {
	/*max-height: 0;*/
	/*margin: 0 15px;*/
	height: 0;
	opacity: 0;
}