#menu md-button {
	display: block;
	text-align: left;
	border-radius: 0;
	padding: 10px;
}

#menu md-button.active {
	background-color: rgba(158,158,158,0.2);
}

md-icon.pinned {
	margin: 0 0 0 5px;
}

#tasks md-list md-item {
	display: block;
}