<md-dialog>
    <md-content>
        <md-text-float ng-model="itemName" ng-keyup="autocomplete()" label="What would you like to add?" focus></md-text-float>
        <md-list id="autocomplete">
            <md-item ng-repeat="item in autocompleteItems" ng-click="setItemName(item.name)">{{item.name}}</md-item>
        </ul>
    </md-content>
    <div class="md-actions">
        <md-button aria-label="Close" ng-click="closeDialog()">
            Close
        </md-button>
        <md-button class="md-primary" aria-label="Save" ng-click="saveItem()">
            Save
        </md-button>
    </div>
</md-dialog>