<md-toolbar class="app-toolbar">
	<div class="md-toolbar-tools">
		<md-button class="menu-icon" ng-click="$parent.toggleSidebar()" aria-label="Open Sidebar">
			<md-icon icon="img/menu.svg" style="width: 24px; height: 24px;"></md-icon>
		</md-button>
		<h1 class="md-toolbar-tools">Home</h1>
	</div>
</md-toolbar>

<md-content>
	<div layout="horizontal">
		<flex-slider slide="image in images track by $index" animation="slide" id="home-slider" flex="70" hide-sm hide-md>
			<li>
		        <img ng-src="{{image.url}}">
		        {{image.title}}
		    </li>
		</flex-slider>
		<section flex="30">Message-Text</section>
	</div>
</md-content>