<md-toolbar class="app-toolbar">
	<div class="md-toolbar-tools">
		<md-button class="menu-icon" ng-click="$parent.toggleSidebar()" aria-label="{{ 'OPEN SIDEBAR' | translate }}">
			<md-icon md-svg-src="/img/menu.svg" alt="android "></md-icon>
		</md-button>
		<h1 class="md-toolbar-tools">{{ 'HOME' | translate }}</h1>
	</div>
</md-toolbar>

<md-content class="md-padding">
	<div layout="horizontal">
		<section flex="70" hide-sm hide-md>
			<img ng-src="{{image}}"></img>
		</section>
		<section flex="30" layout-padding>{{message}}</section>
	</div>
</md-content>