<md-toolbar class="app-toolbar" md-theme="deep-orange">
	<div class="md-toolbar-tools">
		<md-button class="md-icon-button" ng-click="$parent.toggleSidebar()" aria-label="{{ 'OPEN SIDEBAR' | translate }}">
			<md-icon>menu</md-icon>
		</md-button>
		<h2>
			<span>{{ 'SHOPPINGLIST' | translate }}</span>
		</h2>
		<span flex></span>
		<md-button class="md-icon-button" ng-click="loadItems(true)" aria-label="{{ 'REFRESH' | translate }}">
			<md-tooltip>{{ 'REFRESH' | translate }}</md-tooltip>
			<md-icon>refresh</md-icon>
		</md-button>
		<md-button class="md-icon-button" ng-click="showBottomSheet($event)" aria-label="{{ 'OPTIONS' | translate }}">
			<md-tooltip>{{ 'OPTIONS' | translate }}</md-tooltip>
			<md-icon>more_vert</md-icon>
		</md-button>
	</div>
</md-toolbar>

<md-content class="md-padding" layout="column" flex>
	<div layout="row" layout-sm="column" layout-align="space-around" ng-show="loading">
      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
    
    <div ng-show="noItems() && !loading">
    	{{ 'NO ITEMS' | translate }}
    </div>
	
	<md-checkbox ng-repeat="(index, item) in items | filter:{checked:false} | orderBy:'name'" class="reveal-animation" aria-label="{{item.name}}" ng-model="item.checked" ng-click="removeItem(index, item._id)">
		{{item.name}}
	</md-checkbox>
	
	<md-button class="md-fab md-primary md-fab-bottom-right" ng-click="showAddDialog($event)" aria-label="{{ 'ADD' | translate }}" md-theme="deep-orange">
		<md-tooltip>{{ 'ADD' | translate }}</md-tooltip>
		<md-icon>add</md-icon>
	</md-button>
</md-content>